<!DOCTYPE html>
<html>
<head>
    <title>Spam Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>📩 AI Spam Detection System</h1>
</header>

<div class="container">
    <p>This system uses Artificial Intelligence to detect spam messages.</p>

    <ul>
        <li><a href="/check">🔍 Check Spam</a></li>
        <li><a href="/model-info">🤖 Model Info</a></li>
        <li><a href="/history">📜 History</a></li>
    </ul>
</div>

</body>
</html>
